/*Setup*/
html, body {
    font-size: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 2;
    background-color: ghostwhite;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/************************/

/*Page Container*/
.container {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr auto;
    grid-template-areas: 'header' 'nav' 'main' 'footer';
}
/**/

.banner {
    background-color: dimgrey;
    position: sticky;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/*Navigation*/
.top {
    top: 0;
    grid-area: nav;
}

    .top ul {
        display: flex;
        flex-direction: row;
        margin: 0 32px;
    }

        .top ul li a {
            display: flex;
            font-size: 1.2rem;
            padding: 2vh 3vw;
            margin: 0 2vw;
            color: black;
        }
/**/

/*Page Header*/
.header {
    grid-area: header;
    
}
/**/

/*Main Content*/
.main {
    grid-area: main;
    height: 100%;
}
/**/

/*Footer*/
.footer {
    grid-area: footer;
    bottom: 0;
}
/**/

/*Socials*/
.socials {
    display: flex;
}

    .socials li {
        margin: 8px 8px;
    }

        .socials li a img {
            max-width: 24px;
            max-height: 24px;
        }
/**/
